<p>dashboard works!</p>

<!--Etiqueta para el funcionamiento de las rutas hijas-->
<router-outlet></router-outlet> 

<main>
    <section class="admin-categorias">
        <section class="admin-texto">
            <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
            <h3>nombreAdmin</h3>
            <h4>Administrador(a)</h4>
        </section>

        <section class="rutas">
            <section class="boton-active">
                <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                <h5>Dashboard</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                <h5>Inventario</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                <h5>Usuarios</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                <h5>Ordenes</h5>
            </section>
        </section>

        <section class="logo">
            <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
        </section>

        <section class="boton-salir">
            <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
            <h5>Salir</h5>
        </section>
    </section>

    <section class="informacion">
        <section class="titulo">
            <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono">
            <h1>Dashboard</h1>
        </section>

        
        <section class="categorias-admin">

            <div class="card" style="width: 18rem;">
                <img src="/assets/dashboard/home/img-ordenes.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Ordenes</h2>
                  <section class="boton-config">
                    <img src="/assets/dashboard/home/img-icono-config.png" alt="icono">
                    <h5>Ver Ordenes</h5>
                  </section>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/assets/dashboard/home/img-inventario.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Inventario</h2>
                  <section class="boton-config">
                    <img src="/assets/dashboard/home/img-icono-config.png" alt="icono">
                    <h5>Ver Inventario</h5>
                  </section>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/assets/dashboard/home/img-users.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Usuarios</h2>
                  <section class="boton-config">
                    <img src="/assets/dashboard/home/img-icono-config.png" alt="icono">
                    <h5>Ver Usuarios</h5>
                  </section>
                </div>
            </div>

            
        </section>

        <section class="cifras-admin">
            <section class="cifras-totales">

                <h1>Ventas totales</h1>
                <section class="boton-cifras">
                    <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                    <h5>numero-ventas</h5>
                </section>

                <h3>Productos Vendidos</h3>
                <section class="boton-cifras">
                    <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                    <h5>numero-productos</h5>
                </section>

                <h3>Clientes Totales</h3>
                <section class="boton-cifras">
                    <img src="/assets/dashboard/home/img-icono-carrito.png" alt="icono">
                    <h5>numero-clientes</h5>
                </section>
            </section>

            <section class="cifras-destacadas">

                <section class="card-cifras">
                    <h4>Total de productos</h4>
                    <section class="boton-numero">
                        <img src="/assets/dashboard/home/img-icono-carrito.png" alt="icono">
                        <h5>21</h5>
                    </section>
                </section>

                <section class="card-cifras">
                    <h4>Total de categorías</h4>
                    <section class="boton-numero">
                        <img src="/assets/dashboard/home/img-icono-carrito.png" alt="icono">
                        <h5>21</h5>
                    </section>
                </section>

                <section class="card-cifras">
                    <h4>Total de usuarios</h4>
                    <section class="boton-numero">
                        <img src="/assets/dashboard/home/img-icono-carrito.png" alt="icono">
                        <h5>21</h5>
                    </section>
                </section>

                <section class="card-cifras">
                    <h4>Total de ordenes</h4>
                    <section class="boton-numero">
                        <img src="/assets/dashboard/home/img-icono-carrito.png" alt="icono">
                        <h5>21</h5>
                    </section>
                </section>
            </section>
        </section>
    </section>
</main>
