<h1>Inicio de Ecocloset</h1>

<ol>
  <li><a routerLink="/">Inicio</a></li>
  <li><a routerLink="/Acerca">Acerca</a></li>
  <li><a routerLink="/Comprar">Comprar</a></li>
  <li><a routerLink="/ResumenCompra">ResumenCompra</a></li>
  <li><a routerLink="/Productos">Productos</a></li>
  <li><a routerLink="/ListaProductos">ListaProductos</a></li>
  <li><a routerLink="/Ingresar">Ingresar</a></li>
  <li><a routerLink="/Dashboard">Dashboard</a></li>
  <li><a routerLink="/Dashboard/Inventario">Inventario</a></li>
  <li><a routerLink="/Dashboard/Ordenes">Ordenes</a></li>
  <li><a routerLink="/Dashboard/Usuarios">Usuarios</a></li>
</ol>

<!-- Etiqueta para el funcionamiento de Angular -->
<router-outlet />
