<!-- NgFor recorre elemento de un ARRAY y escoge el dato especifico-->
<div *ngFor="let producto of allProducts" class="col">

<main>
    <!-- Barra izquierda -->
    <section class="admin-categorias"> 
        <!-- CARD DE ADMIN -->
        <div class="card2">
            <img src="/assets/dashboard/home/img-admin.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">nombreAdmin</h5>
            <p class="card-text">Administrador(a)</p>
            </div>
        </div>
        <!-- ----------------------------------- -->

        <section class="rutas">
            <!-- BOTON BOOTSTRAP ACTIVE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                <a routerLink="/Dashboard">Dashboard</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-primary">
                <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                Inventario</button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                <a routerLink="/Dashboard/Usuarios">Usuarios</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                <a routerLink="/Dashboard/Ordenes">Ordenes</a></button>
            <!-- ------------------------ -->
        </section>

        <section class="logo">
            <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
        </section>

        <!-- BOTON BOOTSTRAP SALIR -->
        <button type="button" class="btn btn-danger">
            <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
            <a routerLink="/">Salir</a></button>
        <!-- ------------------------ -->
    </section>

    <!-- Dashboard Info -->
    <section class="informacion">
        <section class="titulo">
            <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono" height="50px">
            <h1>Inventario</h1>
        </section>

        <h2>Productos más vendidos</h2>

        <section class="productos-vendidos">

            <section class="orden-card">
                <img src={{producto.Imagen}} alt="img-producto">
                <div class="orden-detalle">
                    <h4><strong>{{producto.Nombre}}</strong></h4>
                    <h5>{{producto.Precio}}</h5>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

        </section>

        <section class="boton-producto">
            <button type="button" class="btn btn-primary">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                Añadir producto</button>
            <h2>Lista de inventario</h2>
        </section>

        <!-- Tabla de BOOTSTRAP -->
        <section class="tabla-inventario">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Colección</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">ID</th>
                </thead>
            </table>
            <app-table-inventory></app-table-inventory>
        </section>
    </section>

</main>