<p>inventory works!</p>

<main>
    <!-- BARRA LATERAL -->
    <section class="admin-categorias">
        <section class="admin-texto">
            <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
            <h3>nombreAdmin</h3>
            <h4>Administrador(a)</h4>
        </section>

        <section class="rutas">
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                <h5>Dashboard</h5>
            </section>
            <section class="boton-active">
                <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                <h5>Inventario</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                <h5>Usuarios</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                <h5>Ordenes</h5>
            </section>
        </section>

        <section class="logo">
            <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
        </section>

        <section class="boton-salir">
            <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
            <h5>Salir</h5>
        </section>
    </section>

    <!-- Dashboard Info -->
    <section class="informacion">
        <section class="titulo">
            <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono">
            <h1>Inventario</h1>
        </section>

        <h2>Productos más vendidos</h2>

        <section class="productos-vendidos">
            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h3>Producto1</h3>
                <h4>Valor</h4>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h3>Producto2</h3>
                <h4>Valor</h4>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h3>Producto3</h3>
                <h4>Valor</h4>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h3>Producto4</h3>
                <h4>Valor</h4>
            </section>
        </section>

        <section class="boton-producto">
            <section class="boton-anadir">
                <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
                <h5>Añadir producto</h5>
            </section>
            <h2>Lista de inventario</h2>
        </section>

        <!-- Tabla de BOOTSTRAP -->
        <section class="tabla-inventario">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Colección</th>
                    <th scope="col">Tallas</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">ID</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Editar</th>
                        <td>Nombre</td>
                        <td>Imagen</td>
                        <td>Colección</td>
                        <td>Tallas</td>
                        <td>Precio</td>
                        <td>Descripción</td>
                        <td>ID</td>
                    </tr>
                </tbody>
              </table>
        </section>
    </section>

</main>