<main>
    <!-- Barra izquierda -->
    <section class="admin-categorias"> 
        <!-- CARD DE ADMIN -->
        <div class="card2">
            <img src="/assets/dashboard/home/img-admin.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">nombreAdmin</h5>
            <p class="card-text">Administrador(a)</p>
            </div>
        </div>
        <!-- ----------------------------------- -->

        <section class="rutas">
            <!-- BOTON BOOTSTRAP ACTIVE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                <a routerLink="/Dashboard">Dashboard</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                <a routerLink="/Dashboard/Inventario">Inventario</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-primary">
                <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                Usuarios</button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                <a routerLink="/Dashboard/Ordenes">Ordenes</a></button>
            <!-- ------------------------ -->
        </section>

        <section class="logo">
            <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
        </section>

        <!-- BOTON BOOTSTRAP SALIR -->
        <button type="button" class="btn btn-danger">
            <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
            <a routerLink="/">Salir</a></button>
        <!-- ------------------------ -->
    </section>

    <!-- Dashboard Info -->
    <section class="informacion">
        <section class="titulo">
            <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono" height="50px">
            <h1>Administrador de Usuarios</h1>
        </section>

        <h2>Los Usuarios con Mayores Compras:</h2>

        <section class="productos-vendidos">
            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>

            <section class="orden-card">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-producto">
                <div class="orden-detalle">
                    <p><strong># Orden:</strong> 231412341</p>
                    <p><strong>Usuario:</strong> producto1213124</p>
                </div>
            </section>
        </section>

        <section class="boton-producto">
            <h2>Lista de usuarios</h2>
        </section>

        <!-- Tabla de BOOTSTRAP -->
        <section class="tabla-inventario">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Rol</th>
                </thead>
            </table>
        </section>
    </section>

</main>