<main>
    <!-- BARRA LATERAL -->
    <section class="admin-categorias">
        <section class="admin-texto">
            <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
            <h3>nombreAdmin</h3>
            <h4>Administrador(a)</h4>
        </section>

        <section class="rutas">
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                <h5>Dashboard</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                <h5>Inventario</h5>
            </section>
            <section class="boton-active">
                <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                <h5>Usuarios</h5>
            </section>
            <section class="boton-disable">
                <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                <h5>Ordenes</h5>
            </section>
        </section>

        <section class="logo">
            <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
        </section>

        <section class="boton-salir">
            <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
            <h5>Salir</h5>
        </section>
    </section>

    <!-- Dashboard Info -->
    <section class="informacion">
        <section class="titulo">
            <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono">
            <h1>Administrador de Usuarios</h1>
        </section>

        <h2>Los Usuarios con Mayores Compras:</h2>

        <section class="productos-vendidos">
            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h4>Juan Rodriguez</h4>
                <h5>Comprador #1</h5>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h4>María Torres</h4>
                <h5>Compradora #2</h5>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h4>Laura Jimenez</h4>
                <h5>Compradora #3</h5>
            </section>

            <section class="productos-texto">
                <img src="/assets/dashboard/home/img-admin.png" alt="img-administrador">
                <h4>Catalina Martínez</h4>
                <h5>Compradora #4</h5>
            </section>
        </section>

        <section class="boton-producto">
            <h2>Lista de usuarios</h2>
        </section>

        <!-- Tabla de BOOTSTRAP -->
        <section class="tabla-inventario">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">ID</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Editar</th>
                        <td>Nombre</td>
                        <td>Correo</td>
                        <td>Teléfono</td>
                    </tr>
                </tbody>
              </table>
        </section>
    </section>

</main>