.product-specific{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    gap: 32px;
}

.info-product{
    width: 70%;
}

.info-product h1{
    text-align: left;
    color: var(--colorPrimario);
    font-weight: bolder;
}

.info-product h2{
    text-align: left;
    color: var(--colorSecundario);
    font-weight: bolder;
}

.info-product h3{
    text-align: left;
    color: var(--colorTexto);
    font-weight: 500;
}

button{
    all: unset;
    font-size: 24px;
    border: solid var(--colorPrimario);
    color: var(--colorPrimario );
    font-weight: bolder;
    padding: 8px;
    border-radius:8px ;
    width: 18%;
    margin: 16px 4px;
    text-align: center;
}

.btn-primario{
    border-style: none;
    background-color: var(--colorSecundario);
    width: 45%;
    color: var(--colorBlanco);
}

.btn-secundario{
    border-style: none;
    background-color: var(--colorPrimario);
    width: 40%;
    color: var(--colorBlanco);
}

button:hover{
    background-color: rgb(0, 128, 107);
    color: var(--colorBlanco);
}