<section class="product-specific">
    <img src="/assets/Home/img-fav1.png" alt="imagen del producto">
    <section class="info-product">
        <h1>Nombre</h1>
        <h2>Coleccion</h2>
        <h3>Precio</h3>

        <!-- Desplegable de tallas -->
        <h2>Tallas</h2>
        <button>S</button>
        <button>M</button>
        <button>L</button>
        <button>XL</button>
        
        <section class="buy">
            <button type="button" class="btn btn-primario">Añadir a la cesta</button>
            <button type="button" class="btn btn-secundario">Comprar ahora</button>
        </section>
    </section>
</section>
